/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

img[src*="#small"] {
  width: 450px;
  height: 375px;
}

img[src*="#auto"] {
  max-width: 50%;
  height: auto;
}

img[src*="#r90small"] {
  max-width: 50%;
  height: auto;
  transform: rotate(90deg);
}

