{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
<section class="bar background-gray no-mb">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.clients.title }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.clients.subtitle | markdownify }}
                </p> 
    <div class="container">
	<div class="responsiveCal">
<iframe src="https://calendar.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showCalendars=0&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=olbh.org_bquegf368ne8m25t2olb8n2e8o%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FDenver" style="border-width:0" width=100% height="600" frameborder="0" scrolling="no"></iframe>
	</div>
    </div>
</section>
{{ end }}
{{ end }}
