{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
<section class="bar background-white">
    <div class="container">
	<div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.features.title }}</h2>
                </div>

                <p class="lead text-center">
                  {{ .Site.Params.features.subtitle | markdownify }}
                </p>

				<div class="row">
					<div class="col-md-3 text-center">
						<div class="box-simple">
							<div class="icon">
								<span><i class="fa fa-heart"></i></span>
							</div>
							<div class="text">
								<h3>Charity</h3>
								<p>Love thy neighbor as thy self</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 text-center">
						<div class="box-simple">
							<div class="icon">
								<span><i class="fa fa-group"></i></span>
							</div>
							<div class="text">
								<h3>Unity</h3>
								<p>Brothers in Christ</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 text-center">
						<div class="box-simple">
							<div class="icon">
								<span><i class="fa fa-shield"></i></span>
							</div>
							<div class="text">
								<h3>Fraternity</h3>
								<p>Join the 1.9 Million Catholic Men</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 text-center">
						<div class="box-simple">
							<div class="icon">
								<span><i class="fa fa-flag"></i></span>
							</div>
							<div class="text">
								<h3>Patriotism</h3>
								<p>For God and Country</p>
							</div>
						</div>
					</div>
				</div>
				</div>
    </div>
</section>
{{ end }}
{{ end }}
